.tasks-container {
    padding: 20px;
    display: grid;
    grid-template-columns: 200px auto;

    .task-filters {

    }

    .task-table {
        margin-left: 10px;

        .task-controls {
            display: inline-flex;
            flex-wrap: wrap;
            width: 100%;
    
            .btn {
                margin-top: 25px;
                margin-left: 0px;
            }
        }
    }
}