$primary: rgb(96, 96, 219);
$primary-dark: rgb(61, 61, 255);
$white: white;
$black: black;
$grey: rgb(206, 206, 206);
$yellow: rgb(250, 241, 118);
$success: rgb(118, 250, 118);
$danger: rgb(250, 118, 118);